.container{

    display: flex;
    justify-content: center;
    
}

.taskbar__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 70px;
}



